@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HurmeGeometricSans';
  src: local('HurmeGeometricSans'), url(/assets/fonts/HGSFF/HurmeGeometricSansNo1/HurmeGeometricSans1.otf) format('opentype');
}
@font-face {
  font-family: 'HurmeGeometricSansBold';
  src: local('HurmeGeometricSansBold'), url(/assets/fonts/HGSFF/HurmeGeometricSansNo1/HurmeGeometricSans1Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(/assets/fonts/Poppins/HurmeGeometricSansNo1/Poppins-Thin.ttf) format('ttf');
}

#customRange1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 40px;
  background: #000;
  cursor: pointer;
  border: 1px solid #fff;
}

#customRange1::-moz-range-thumb {
  width: 20px;
  height: 50px;
  background: #000;
  cursor: pointer;
  border: 2px solid #fff;
}

/* #customRange1:after{
  position:absolute;
  top: -17px;
  left: 65px;
  display:block;
  width: 2px;
  height: 39px;
  content:"";
  background: #fff;
  -webkit-transform:rotate(0deg);
     -moz-transform:rotate(0deg);
} */

/* finish */
#frame:after {
  left: auto;
  right: 10px;
  background: rgba(124,124,124,0.9);
}

/* outer circle */
#frame a#button	{	
  position:relative;
  display:inline-block;
  width:60px;
  height:60px;
  margin-top:22px;
  text-align:center;
  border-top: 1px dashed red;
  border-right: 1px dashed red;
  border-left: 1px dashed red;
  -webkit-border-radius:100%;
     -moz-border-radius:100%;
          border-radius:100%;
}
#frame a#button:hover {
  -webkit-animation-name: adjustVolume;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
  -webkit-animation-duration: 2s;

  -moz-animation-name: adjustVolume;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: 2;
  -moz-animation-direction: alternate;
  -moz-animation-duration: 2s;
}

/* inner circle */
#frame a#button:before	{	
  position:absolute;
  top:3px;
  left:4px;
  width:50px;
  height:50px;
  content:"";
  border: 1px solid #fff;
  -webkit-border-radius:100%;
     -moz-border-radius:100%;
          border-radius:100%;
  background-color: #000;
}

/* line */
#frame a#button:after	{	
  position:absolute;
  top: 4px;
  left: 29px;
  display:block;
  width: 2px;
  height: 25px;
  content:"";
  background: #fff;
  -webkit-transform:rotate(0deg);
     -moz-transform:rotate(0deg);
}
@-webkit-keyframes adjustVolume {
  from {                                     }
  to   { 
    -webkit-transform: rotateZ(270deg); 
    -webkit-box-shadow:0 0 10px #CCC;
  }
}
@-moz-keyframes adjustVolume {
  from {                                     }
  to   { 
    -moz-transform: rotateZ(270deg); 
    -moz-box-shadow:0 0 10px #CCC;
  }
}

.bg-one{
  background: linear-gradient(180deg, #121323 0%, rgba(42, 43, 79, 0) 100%);
}
.rec .rec-carousel{
  width: 45%;
}
/* square buttons */
.rec.rec-arrow {
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  background-color: transparent;
}
.rec.rec-arrow:focus:enabled {
  background-color: transparent;
  box-shadow: none;
}
.rec.rec-arrow:hover:enabled {
  background-color: transparent;
  box-shadow: none;
}
.rec.rec-arrow:hover:disabled {
  background-color: transparent;
  box-shadow: none;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
  background-color: transparent;
}
.rec.rec-arrow:disabled {
  visibility: visible;
}
.rec.rec-dot.rec.rec-dot_active,
.rec.rec-dot.rec.rec-dot_active:hover,
.rec.rec-dot.rec.rec-dot_active:focus
{
  box-shadow: none;
  background-color: #FF4C00;
}
.rec.rec-dot:hover{
  box-shadow: none;
  background-color: #FF4C00;
}

.rec .rec-dot{
  background-color: #D9D9D9;
}

@media (min-width: 640px) { 
  #isMobile{
    display:none;
  }
}

@media (max-width: 640px) { 
  .rec .rec-carousel{
    width: 100%;
  }
  .rec.rec-arrow {
    display: none;
  }
}

.image {
  max-width: 500px;
  width: auto;
  height: 2.5rem;
  padding: 0 10px;
  object-fit: fill;
}

.image:last-of-type {
  padding-left: 0;
}

.section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}